:root {
  --fw-n: 300;
  --fw-m: 600;
  --fw-b: 700;
  --ff-r: "Roboto Condensed", sans-serif;
  --ff-h: Helvetica, Arial, sans-serif;
  --ff-a: Arial, Helvetica, sans-serif;
  --ff-l: "Lora", serif;
  --fs-b: 16px;
  --fs-13: 0.8125rem;
  --fs-14: 0.875rem;
  --fs-15: 0.9375rem;
  --fs-16: 1rem;
  --fs-17: 1.0625rem;
  --fs-18: 1.125rem;
  --fs-19: 1.1875rem;
  --fs-20: 1.25rem;
  --fs-21: 1.315rem;
  --fs-22: 1.375rem;
  --fs-24: 1.4375rem;
  --fs-32: 2rem;
  --lh-14: 0.875rem;
  --lh-16: 1rem;
  --lh-18: 1.125rem;
  --lh-19: 1.1875rem;
  --lh-20: 1.25rem;
  --lh-21: 1.315rem;
  --lh-22: 1.375rem;
  --lh-24: 1.4375rem;
  --lh-28: 1.75rem;
  --lh-58: 3.625rem;
  --porcelain: #f4f5f6;
  --scarlet: #f72210;
  --black: #000;
  --white: #fff;
  --gray: #999;
  --dove-gray: rgb(102, 102, 102);
  --mine-shaft: rgb(51, 51, 51);
}

html,
body {
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: var(--ff-r);
  font-size: var(--fs-b);
  background: var(--porcelain);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  background-color: var(--scarlet);
  overflow: hidden;
}

main {
  background-color: var(--white);
}

.icon-menu::before {
  content: "\e9bd";
  font-size: var(--fs-32);
  margin-left: 20px;
  position: relative;
  top: 7px;
}

.signin-subscribe>h3 {
  font-size: var(--fs-14);
  line-height: var(--lh-14);
}

.user-options>h3 {
  font-size: var(--fs-18);
  line-height: var(--lh-14);
}

.user-options>h3:nth-of-type(2) {
  color: var(--scarlet);
  background-size: 5px;
  padding: 0.2em;
}

.navigation {
  padding: 15px 160px 15px 0;
}

.list-group::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  display: block;
  width: 102px;
  background-color: #f72210;
  border-left: 12px solid white;
  border-top: 13px solid #f72210;
}

.navigation,
.user-options>h3:nth-of-type(2) {
  background-color: var(--white);
}

li.list-group-item {
  border-right: 1px solid var(--gray);
  padding-right: 7px;
}

li.list-group-item:nth-last-of-type(1) {
  border: none;
}

.last::after {
  content: 'Search';
  position: relative;
  left: 10px;
  font-weight: var(--fw-n);
  color: var(--dove-gray);
}

.m-glass {
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
  width: 20px;
  height: 20px;
  clip: auto;
  font-size: 0;
  position: absolute;
  top: 16px;
  right: 136px;
}

.btn-danger,
.stamp--label-editors,
.--US,
.--world,
.--tech-science,
.--culture-,
.--sports {
  color: var(--scarlet);
}

.nav-link-items,
.opinion>a,
.latest>a,
.feature>a,
.more>a,
.top>a,
.culture,
.magazine>a,
.editors>a,
.slideshow>a,
.US>a,
.US-right>a,
.world>a,
.world-right>a,
.tech-science>a,
.tech-science-right>a,
.culture->a,
.culture--right>a,
.sports>a,
.sports-right>a,
.magazine__items,
.editors__items {
  color: var(--black);
}

.navigation ul li a {
  color: var(--black);
}

.list-group {
  justify-content: space-evenly;
}

.list-group-item {
  padding: 0;
}

.left {
  float: left;
}

.head>div.container.fixed-top {
  max-width: inherit;
  padding: 0;
}

.head-content {
  padding: 0 10px;
  background-color: var(--scarlet);
}

.header-subscribe {
  background-color: var(--white);
  height: 25px;
  width: 146px;
  padding: 7px;
  color: var(--scarlet);
}

.header-sign-in,
.header-subscribe {
  font-size: var(--fs-18);
  line-height: var(--lh-14);
}

.navbar {
  position: fixed;
  background-color: var(--white);
  width: 100%;
  margin: 0 auto;
}

.bsnav-mobile .navbar {
  top: -1%;
}

.bsnav-mobile.in .navbar {
  background: var(--white);
}

.logo {
  padding: 0;
}

.navbar-brand svg {
  height: 100%;
  width: 120px;
  fill: var(--white);
}

.sub {
  background-color: var(--white);
  height: 1.3em;
  width: 5.1em;
  padding: 2px;
}

.mx-auto.d-sm-flex.d-block.flex-sm-nowrap {
  text-align: center;
}

.navbar-nav .nav-item:hover>.nav-link {
  color: var(--scarlet);
}

.bsnav-dark .navbar-nav .nav-item {
  color: var(--black);
  font-size: 100%;
  line-height: var(--lh-24);
}

.aside {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: -moz-fit-content;
}

.transparent {
  display: none;
}

.hidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.brand svg {
  fill: var(--white);
}

.article__title {
  font-size: var(--fs-16);
  line-height: var(--lh-16);
  color: var(--dove-gray);
}

.feature__summary,
.editors__summary,
.culture__summary,
.subscribe__info {
  font-size: var(--fs-15);
  font-weight: var(--fw-n);
  line-height: var(--lh-20);
  font-family: var(--ff-a);
  color: var(--dove-gray);
}

.top__image {
  margin-bottom: 10px;
}

.top,
.more,
.feature,
.editors,
.opinion,
.US-right,
.world-right,
.tech-science-right,
.culture--right,
.sports-right,
.btn-danger,
.opinion__by,
.stamp--label-editors,
.sign-up__text,
.all-features__text,
.newsletter__items>h2,
.--US,
.--world,
.--tech-science,
.--culture-,
.--sports,
.subscribe,
.magazine__items,
.editors__items,
.latest,
.header-sign-in,
.header-subscribe {
  font-weight: var(--fw-b);
}

.top {
  font-size: var(--fs-22);
  line-height: var(--lh-24);
}

.more,
.opinion,
.US-right,
.world-right,
.tech-science-right,
.culture--right,
.sports-right,
.latest {
  font-size: var(--fs-17);
  line-height: var(--lh-20);
}

.feature,
.editors,
.culture,
.article__info {
  font-size: var(--fs-20);
  line-height: var(--lh-20);
  font-family: var(--ff-r);
}

.culture {
  line-height: var(--lh-22);
  font-family: var(--ff-l);
}

.culture-travel {
  background-color: var(--porcelain);
}

.top>a:hover,
.more>a:hover,
.feature>a:hover,
.magazine>a:hover,
.editors>a:hover,
.slideshow>a:hover,
.US>a:hover,
.world>a:hover,
.tech-science>a:hover,
.culture->a:hover,
.sports>a:hover {
  text-decoration: underline var(--scarlet);
}
